<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CODERS Database</title>
    </head>

    <body>
        <h1>Fitlering Abilities</h1>
        <h3>Tables that can be filtered by province:</h3>
        <p>substations, generators, transmission_lines, junctions, interties, storage_batteries</p>

        <h3>Tables that can be filtered by province and generation type:</h3>
        <p>generators</p>

        <h3>Tables that can be filtered by year, province, and US region:</h3>
        <p>international_transfers</p>

        <h3>Tables that can be fitlered by year and two provinces:</h3>
        <p>interprovincial_transfers</p>
        
        <h3>Tables that can be fitlered by year and province:</h3>
        <p>provincial_demand</p>
    </body>
</html>