<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CODERS Database</title>
    </head>

    <body style="text-align: center;">
        <h1>Welcome to the CODERS Database</h1>
        <p>We recommend that you visit our documentation page<br/>
            along with the provided CODERS User Guide to learn<br/>
            about the functions of CODERS.</p>
        <functions>
            <h4>You can find an interactive version of the API documentation</h4>
            <a href="http://206.12.95.90/api/docs"><p>Here</p></a>
           
        </functions>
    </body>
</html>